@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.footer{
        &__link-wrap {
          margin-left: 0;
          width: 100%;
        }

        &__social {
          width: 100%;
        }

        &__rules {
          width: 100%;
          margin-left: 0;
          margin-top: 40px;
        }

        &__bottom {
          &.is-flex {
            display: block;
          }

          &.is-buttons {
            text-align: right;
          }
        }

        &__phone {
          text-align: right;
        }
    }

  .otdel_tabs-slider .slick-list {
    overflow: hidden;
  }

  .otdel_tabs-slide.slick-active {
    transform: scale(1);
  }

  .otdel_tabs-slider-dots {
    top: -50px;
  }

  .otdel_tabs-slider .slick-custom-next, .otdel_tabs-slider .slick-custom-prev {
    display: none;
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .otdel_tab {
    padding: 14px 30px;
  }
  .footer {
    &__phone {
      text-align: left;
      margin-top: 20px;
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {

  .link_center {
    &.is-bottom {
      top: inherit;
      margin-top: 50px;
    }
  }

  .h3 {
    font-size: 25px;
  }

  .room-cart {
      height: 255px;
  }

  .offers{
    &-link {
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 5px;
      &__text {
        width: 100%;
      }
    }

    .btn-white-outline {
      padding-left: 75px;
      padding-right: 75px !important;

      &:first-child {
        margin-right: 0;
        margin-bottom: 25px;
      }
      &:last-child {
        margin-left: 0;
      }
    }
  }

  .otdel_tab {
    padding: 14px 30px;
    font-size: 14px;
    display: block;
    width: 100%;
    float: none;
    &:before {
      display: none;
    }
  }

  .otdel_tabs {
    display: block;
    overflow: hidden;
    text-align: center;

    a {
      &:first-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }

      &:last-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  .footer {
    &__rul-link {
      margin-left: 0;
      margin-top: 5px;
      display: block;

      &:first-child {
        margin-top: 0;
        &:before {
          content: '|';
          margin-right: 10px;
        }
      }
    }
  }

  .mfp-image-holder .mfp-close {
    //right: 0!important;
    //top: -95px!important;
    font-size: 50px;
  }

  .mfp-close.is-default {
    top: 10px;
    right: 10px;
    font-size: 40px;
  }

  .section_first {
    //height: auto;
    padding: 0px 0 50px 0;
  }

  .offers {
    &-link {
      display: inline-block;
      width: 40%;
      vertical-align: top;
    }
  }

  .link_center.is-bottom {
    top: inherit;
    margin-top: 50px;
  }

  .logostar {
    width: 50px;
  }

  .logo {
    &__title {
      font-size: 18px;
    }
    &__subtitle {
      font-size: 25px;
    }
  }

  .btn-red {
    &.is-mobile {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  .link_center-wrapper {
    //bottom: 20px;
  }

  .section_third {
    padding-bottom: 5px;
  }
  .section-contact {
    padding-top: 10px;
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .contact-form__btn {
    font-size: 13px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-align: center !important;
    .fa {
      display: none;
    }
  }

  .modal-body_form {
    padding: 60px 20px;
  }

  .body_form-title {
    font-size: 25px;
  }

  .btn-red.m-wind .ico {
    display: none;
  }

  .btn-red.m-wind {
    padding-left: 30px;
    padding-right: 30px;
  }

  .offers {
    //display: flex;
  }

  .btn-custom-outline {
    display: block;
    width: 100%;

    margin: 0;
    &:first-child {
      margin: 0;
      //margin-bottom: 40px;
    }

    .ico {
      display: block;
      border: none;
      margin: 0 auto;
      margin-bottom: 25px;
      height: 35px;
      width: 35px;

      &.custom-icon {
        background-size: 66%;
      }

      &:before, &:after {
        height: 35px;
        width: 35px;
      }
    }

    span {
      display: block;
      margin: 0;
      text-align: center;
      font-size: 13px;
    }
  }
}


@media all and (max-width: 320px) {
  .header__btn-container {
    margin-top: 20px;
  }

  .logo__subtitle {
    font-size: 20px;
  }
  .logo__title {
    font-size: 15px;
  }

  .logostar {
    width: 40px;
  }

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
