//$default-font: "Gotham Pro Regular", sans-serif;
$default-font: "GothamPro", sans-serif;

/*$font-light: "Gotham Pro Light", sans-serif;
$font-medium: "Gotham Pro Medium", sans-serif;
$font-bold: "Gotham Pro Bold", sans-serif;
$font-black: "Gotham Pro Black", sans-serif;*/

$accent: #ec3a48;
$accent-shadow: #f03f4d;
$accent-bg: #dd2a39;
$text: #333;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
