@import "vars";
@import "fonts";
@import "libs";
@import "_mixins/_breakpoints";

::placeholder {
	color: #666;
}

::selection {
	//background-color: $accent;
	//color: #fff;
}

a {
	&:active, &:focus {
		text-decoration: none;
		color: inherit;
	}
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.menu_button {
	&:hover, &:focus, &:visited {
		color: #fff;
	}
}

.btn-menu-red {
	font-size: 15px;
	outline: 0!important;
	text-decoration: none!important;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;

	&:hover {
		i {
			box-shadow: 0 3px 11px 1px rgba(255,0,0,.48);
		}
	}

	i {
		width: 50px;
		height: 50px;
		background: $accent;
		text-align: center;
		line-height: 52px;
		border-radius: 50%;
		cursor: pointer;
		margin-right: 7px;
		font-size: 19px;
		outline: 0!important;
		transition: all .3s linear;
		color: #fff;
	}
}

header {
	&.header{
		//pointer-events: none;
		z-index: 2;
	}
}

.header {
	padding-top: 28px;
	padding-bottom: 28px;
	transition: all .3s linear;
	position: fixed;
	height: auto;
	width: 100%;
	color: #fff;
	left: 0;
	top: 0;

	&.is-inside {
		background: rgba(20,48,71,.86);
	}

	&.scrolled {
		background: rgba(20,48,71,.86);
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 99;
		padding-top: 7px;
		padding-bottom: 7px;
	}

	&__btn-container {
		margin-top: 45px;
	}
}

.phone-text {
	font-weight: lighter;
	color: #fff;
	text-decoration: none;
	margin-right: 65px;
	&:hover {
		text-decoration: underline;
		color: #fff;
	}

	&:active, &:focus {
		text-decoration: none;
		color: #fff;
	}
}

.btn-white-outline {
	padding-top: 15px;
	padding-bottom: 13px;
	padding-left: 23px;
	padding-right: 39px;
	background: 0 0;
	color: #000;
	font-size: 14px;
	border-radius: 35px;
	cursor: pointer;
	outline: 0;
	transition: all .3s linear;
	position: relative;
	display: inline-block;
	border: 1px solid #fff;
	outline: 0!important;
	background-color: #fff;
	text-decoration: none!important;

/*	&:hover {
		background-color: rgba(#fff, .95);
	}*/

	&:hover {
		text-decoration: none;
		//color: #fff;
		box-shadow:0 1px 22px 3px #fff;
		outline: 0!important;
	}

	&:focus, &:active {
		text-decoration: none !important;
		color:#000;
	}

	.ico {
		right: 35px;
		color: #000;
		width: 25px;
		height: 25px;
		margin-top: -12px;
		line-height: 25px;
		font-size: 13px;
	}

	&.__wth_ico {

		padding-left: 47px;
		padding-right: 65px!important;

		.ico {
			position: absolute;
			top: 50%;
		}
	}

	&.is-red {
		background-color: $accent;
		color: #fff;
		border: none;

		&:hover {
			text-decoration: none;
			color: #fff;
			background: #dd2a39;
			box-shadow:0 1px 22px 3px $accent;
			outline: 0!important;
		}

		&:focus, &:active {
			text-decoration: none;
			color:#fff;
		}

		&.__wth_ico {
			.ico {
				position: absolute;
				top: 50%;
				right: 20px;
			}
		}

		.ico {
			color: #fff;
		}
	}
}

.logo {
	&__title {
		font-size: 24px;
		font-weight: lighter;
		line-height: 1.3;
	}

	&__subtitle {
		font-size: 50px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.3;
	}
}

.btn-red {
	padding-top: 21px;
	padding-bottom: 19px;
	padding-left: 39px;
	padding-right: 39px;
	background: $accent;
	color: #fff;
	font-size: 16px;
	border-radius: 35px;
	cursor: pointer;
	outline: 0;
	box-shadow: 0 5px 25px 0 $accent;
	transition: all .3s linear;
	position: relative;
	display: inline-block;
	border: 0;
	outline: 0!important;
	font-weight: lighter;

	&:hover {
		text-decoration: none;
		color: #fff;
		background: #dd2a39;
		box-shadow: 0 1px 26px 6px $accent;
		outline: 0!important;
	}

	&:focus, &:active {
		text-decoration: none;
		color:#fff;
	}

	&:after {
		content: '';
		border-radius: 35px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		opacity: 0;
		transition: all .5s linear;
		z-index: 2;
		display: block;
		box-shadow: inset 0 0 21px 7px $accent-shadow;
	}

	&.__wth_ico {
		padding-left: 75px;
		padding-right: 61px;
	}

	&.m-wind {
		padding-left: 60px;
		padding-right: 41px;
		.ico {
			margin-left: 10px;
			vertical-align: middle;
		}
	}
}
.btn-red:focus:after, .btn-red:hover:after {
	opacity: 1;
}

.ico {
	&.custom {
		margin-left: 15px;
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 28px;
			width: 28px;
			background-repeat: no-repeat;
			-webkit-background-size: contain;
			background-size: contain;
		}

		&.coin-icon {

			&:before {
				background-image: url(../images/icons_sprite.png);
				background-size: 96px;
				background-position: -2px 0px;
			}
		}

		&.glass-icon {
			&:before {
				//background-image: url(../images/glasses.png);
				background-image: url(../images/icons_sprite.png);
				background-size: 96px;
				background-position: -66px -3px;
				margin-left: 5px;
				margin-top: 1px;
			}
		}

		&.plate-icon {
			&:before {
				//background-image: url(../images/plate.png);
				background-image: url(../images/icons_sprite.png);
				background-size: 96px;
				background-position: -34px -4px;
			}
		}
	}
}

/*.glass-icon {
	margin-left: 15px;
	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 28px;
		width: 28px;
		background-image: url(../images/glasses.png);
		background-repeat: no-repeat;
		-webkit-background-size: contain;
		background-size: contain;
	}
}*/

.offers {
	margin-top: 65px;
	&-link {
		color: #fff;
		font-weight: 600;
		font-size: 14px;
		text-decoration: none;
		text-align: left;
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}

		&:focus, &:active {
			color: #fff;
			text-decoration: none;
		}

		&:hover {
			color: #fff;
			text-decoration: none !important;

			.offers-link__text {
				text-decoration: none;
			}

			.offers-link__img {
				transform: scale(1.1);
			}
		}

		&__text {
			text-decoration: underline;
			display: inline-block;
			vertical-align: middle;
		}

		&__img {
			border-radius: 50%;
			-webkit-transition: -webkit-transform .8s ease-in-out;
			transition:         transform .8s ease-in-out;
		}
	}

	.btn-white-outline {
		&:first-child {
			margin-right: 40px;
		}
		&:last-child {
			margin-left: 40px;
		}
	}
}

.link_center {
	width: 61px;
	height: 61px;
	display: block;
	margin: 0 auto;
	background: $accent;
	color: #fff;
	line-height: 66px;
	text-align: center;
	border-radius: 50%;
	font-size: 27px;
	box-shadow: 0 5px 25px 0 rgba(236,58,72,.34);
	position: relative;
	top: -131px;
	transition: all .3s linear;

	&:focus, &:hover {
		text-decoration: none;
		color: #fff;
		background: #dd2a39;
		box-shadow: 0 5px 25px 7px rgba(236,58,72,.19);
		outline: 0!important;
	}

	&.is-white {
		background-color: #fff;
		box-shadow: none;
		&:focus, &:hover {
			text-decoration: none;
			color: #fff;
			background: #fff;
			box-shadow: none;
			outline: 0!important;
		}
	}

	&.is-bottom {
		top: 0;
	}

	&-wrapper {
		position: absolute;
		bottom: -30px;
		width: 100%;
	}
}


.charter{
	width: 100%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: auto;

	&__bg {
		background-image: url(../images/room.jpg);
		-webkit-background-size: cover;
		opacity: .5;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		transition: all .25s linear;
	}

	&__link {
		display: block;
		margin-bottom: 20px;
		color: #fff;

		background-color: #000;
		position: relative;
		overflow: hidden;

		&:hover {
			text-decoration: none;
			color: #fff;

			.charter__bg {
				transform: scale(1.2);
			}
		}
	}

	&__wrapper {
		display: flex;
		width: 100%;
		height: 280px;
		position: relative;

	}

	&__text {
		display: block;
	}
}

.h3 {

	color: #000;
	font-size: 36px;
	font-weight: bold;
	line-height: 1.3;
	text-transform: uppercase;

	&.is-white {
		color: #fff;
	}
}

.stars .fa {
	font-size: 12px;
	color: $accent;
}

.otdel_tabs {
	padding: 0;
	margin-top: 38px;
	margin-bottom: 100px;
	position: relative;
	z-index: 1;
	border-radius: 31px;
	border: 0;
	width: 100%;
	display: flex;
	justify-content: center;

	a:first-child {
		border-bottom-left-radius: 31px;
		border-top-left-radius: 31px;
	}

	a:last-child {
		border-bottom-right-radius: 31px;
		border-top-right-radius: 31px;
	}

	&-pane {
		opacity: 0;
		&.active {
			opacity: 1;
			.otdel_tabs-slide {
				&.slick-active {
					.otdel_tab-fullbtn {
						//opacity: 1;
					}
				}
			}
		}
	}


	&-slide {
		height: 475px;
		position: relative;
		background-color: #000;
		transition: all .55s ease;

		display: flex !important;
		justify-content: center;
		align-items: center;

		&.slick-active {
			transform: scale(1.2);
			z-index:12;
			display: block;
			.otdel_tabs-slide-img {
				opacity: 1;
			}

			.otdel_tab-fullbtn {
				display: inline-block;
			}
		;
		}

		&-img {
			width: 100%;
			height: 100%;
			display: block;
			background-size: cover;
			pointer-events: auto;
			outline: 0;
			cursor: pointer;
			opacity: .5;
			position: absolute;
			top: 0;
		}
	}

	&-slider {
		.slick-arrow {
			position: absolute;
			top: 50%;
			margin-top: -45px;
			background: #fff;
			border: 0;
			outline: 0!important;
			text-decoration: none!important;
			box-shadow: none!important;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			font-size: 29px;
			text-align: center;
			z-index: 9;
			cursor: pointer!important;
			line-height: 39px;
			color: #000;
			transition: all .3s linear;
			padding: 0;
		}

		.slick-custom-prev {
			left: -77px;
		}

		.slick-custom-next {
			right: -77px;
		}

		.slick-list {
			overflow: inherit;
		}

		&-dots {
			padding: 0;
			position: relative;
			display: flex;
			justify-content: center;

			li {
				display: inline-block;
				margin: 0 10px;

				height: 15px;
				width: 15px;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				border: 1px solid #fff;
				background-color: transparent;
				cursor: pointer;

				&.slick-active {
					border-color: $accent;
					background-color: $accent;
				}
			}

			button {
				color: transparent !important;
				opacity: 0;
				height:100%;
				width: 100%;
				font-size: 1px;
			}
		}
	}
}

@keyframes loop_anim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}

}

.otdel_tab {

	padding: 14px 65px;
	display: inline-block;
	transition: all .3s linear;
	font-size: 15px;
	color: #000;
	outline: 0!important;
	text-decoration: none!important;
	background: #f0f0f0;
	float: left;
	position: relative;
	margin-right: 3px;

	&-fullbtn {
		position: relative;
		z-index:100;
		//display: none;
		opacity: 1;
		pointer-events: none;
		-webkit-animation-name: loop_anim;
		-moz-animation-name: loop_anim;
		-o-animation-name: loop_anim;
		animation-name: loop_anim;

		//transition: all .6s ease;

		animation-duration: 3s;
		animation-iteration-count: infinite;
	}

	&:hover,&:focus {
		color: #333;
	}

	&:last-child {
		margin-right: 0;
	}

	&:before {
		transition: all .3s linear;
		content: '';
		width: 15px;
		height: 15px;
		background: #fff;
		display: block;
		position: absolute;
		bottom: -7px;
		left: 50%;
		margin-left: -7px;
		transform: rotate(45deg);
		visibility: hidden;
	}

	&.active {
		background: $accent-bg;
		color: #fff;

		&:before {
			visibility: visible;
			background: $accent-bg;
		}
	}
}

.small-description {
	font-size: 14px;
	font-weight: lighter;
	color: #000;
}

.contact-form {

	&__box {
		margin-top: 40px;
	}

	&__label {
		width: 100%;
		position: relative;

		&.error {
			.contact-form__input {
				border-color: #ce3a45;
				color: #ce3a45;
			}

			.contact-form__icon {
				color: #ce3a45;
			}
		}
	}

	&__input {
		width: 100%;
		padding: 21px 27px;
		border: 1px solid #d0d0d0;
		border-radius: 30px;
		font-size: 14px;
		font-weight: lighter;
		color: #949494;
		transition: box-shadow .25s ease;

		&:hover, &:focus {
			box-shadow: 1px 4px 11px -3px rgba(0, 0, 0, 0.27);
		}
	}

	&__icon {
		position: absolute;
		top: 35%;
		right: 25px;
		color: #949494;
	}

	&__row {
		justify-content: center;
	}

	&__btn-container {
		margin-top: 38px;
	}

	&__btn {
		&.__wth_ico {
			padding-left: 38px;
			padding-right: 30px;
			.fa {
				font-size: 20px;
				vertical-align: middle;
				margin-left: 10px;
			}
		}
	}
}

.room-carts {
	margin-top: 40px;
}

.room-cart {


	.fa {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		line-height: 30px;
		background-color: $accent;
		text-align: center;
		margin-right: 10px;

		&.fa-angle-right {
			&:before {
				margin-left: 2px;
			}
		}
	}

	height: 190px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: relative;

	.room-cart {
		&__wrap-link {
			padding: 15px 28px;
			align-items: flex-end;
			flex: 0 1 auto;
			color: #fff;
			font-size: 16px;
			font-weight: bold;

			box-shadow: inset 0 -49px 23px rgba(0, 0, 0, 0.35)
		}
	}

	&.is-big {
		height: 255px;
	}

	&__link {
		/*display: flex;
		justify-content: space-between;
		flex-direction: column;
		height: 100%;*/

		margin-bottom: 20px;
		display: inline-block;
		width: 100%;
		vertical-align: top;
		position: relative;

		overflow: hidden;

		&:hover, &:focus, &:active{
			text-decoration: none;
			color: #fff;
		}

		&:hover {
			.room-cart__bg {
				transform: scale(1.1);
			}
		}
	}

	&__bg {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-repeat: no-repeat;
		//margin-bottom: 20px;
		-webkit-background-size: cover;
		background-size: cover;
		transition: all .25s ease;
	}
}

.section_first {
	background-image: url(../images/main_bg.jpg);
	//padding-top: 151px;
	//padding-bottom: 15px;
	background-size: cover;
	background-position: center right;
	height: 100vh;
	color: #fff;
	min-height: 713px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 100px 0;
	position: relative;
}

.section_second{
	background-size: cover;
	background-position: center right;
	padding-top: 101px;
	padding-bottom: 62px;
}

.section_third {
	padding-bottom: 75px;
}

.section-contact {
	padding-top: 35px;
	padding-bottom: 90px;
}

.section-rooms {
	padding-top: 10px;
	padding-bottom: 62px;
	position: relative;
	background-color: #26292d;

	.link_center {
		top: -42px;
	}

	&__bg{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		-webkit-background-size: cover;
		background-size: cover;
		opacity: .3;
	}
}

.footer {
	padding: 35px 0;
	padding-bottom: 48px;

	&__links {
		margin: 0;
		padding: 0;
	}
	&__link-wrap {
		display: inline-block;
		margin-left: 35px;
		&:first-child {
			margin-left: 0;
		}
	}

	&__link {
		font-size: 16px;
		color: #000;
		font-weight: lighter;
		&:hover {
			text-decoration: underline;
			color: #000;
		}
	}

	&__social {

		display: inline-block;
		vertical-align: middle;

		&-icon {
			margin-left: 5px;
			&:first-child {
				margin-left: 0;
			}

			img {
				transition:  all .25s ease;
				border-radius: 50%;
			}

			&:hover, &:focus {
				text-decoration: none;
				img {
					box-shadow: 1px 4px 11px -3px rgba(0, 0, 0, 0.57);
					text-decoration: none;

				}
			}
		}
	}

	&__rul-link {
		font-size: 12px;
		color: #949494;
		font-weight: lighter;
		margin-left: 10px;

		&:before {
			content: '|';
			margin-right: 10px;
		}

		&:first-child {
			margin-left: 0;
			&:before {
				content: '';
				margin-right: 0;
			}
		}

		&:hover {
			color: #949494;
			text-decoration: underline;
		}
	}

	&__rules {
		display: inline-block;
		vertical-align: middle;
		margin-left: 40px;
	}

	&__copyright {
		font-size: 12px;
		color: #949494;
		font-weight: lighter;
		margin-top: 18px;
	}

	&__bottom {
		&.is-flex {
			display: flex;
			align-items: center;
		}
	}

	&__top {
		margin-bottom: 40px;
	}

	&__phone {
		font-size: 20px;
		color: #949494;
		font-weight: lighter;
		text-align: center;

		&:hover{
			text-decoration: underline;
		}
		&:focus, &:active, &:hover {
			color: #949494;
		}
	}
}


//MFP

//Modal Forms

.mfp-small {
	max-width: 560px;
}

.modal-body_form {
	padding: 60px 130px;
}

.modal-body {
	&__button-wrap {
		margin-top: 20px;
		margin-bottom:25px;
	}

	&__suggestions {
		text-align: center;
		font-size: 12px;
		color: #949494;

		&-link {
			color: #949494;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
				color: #949494;
			}
		}
	}
}

.white-popup {
	//max-width: 900px;
	width: 100%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.modal-custom {
	background: #fff;
	position: relative;
	overflow: hidden;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.body_form{
	&-group {

	}
	&-title {
		font-size: 36px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2;
	}
	&-subtitle {
		font-size: 14px;
		font-weight: lighter;
		color: #000;
		margin-bottom: 30px;

		&.first {
			margin-top: 35px;
		}

		&.last {
			margin-bottom: 10px;
		}
	}

	&-phone {
		font-size: 16px;
		color: $accent;
		font-weight: 600;
		transition: color .25s ease;
		&:hover, &:focus, &:active {
			color: $accent-bg;
			text-decoration: none;

		}
	}
}

.close_box {
	position: relative;
}

.mfp-close {
	&.is-default {
		z-index: 123;
		color: $accent;
		right: -50px;
		font-size: 80px;
		opacity: 1;
	}
}

	//
.mfp-image-holder .mfp-close {
	/*
	background: $accent;
	color: #fff!important;
	width: 95px!important;
	height: 95px;
	line-height: 95px;
	font-size: 42px;
	right: -95px!important;
	top: 0!important;
	text-align: center!important;
	margin: 0!important;
	padding: 0!important;
	cursor: pointer!important;
	*/

	color: $accent !important;
	font-size: 65px;
	right: 10px !important;
	top: 10px;
	text-align: center!important;
	cursor: pointer!important;
	width: auto !important;
	transition: all .25s;

	&:hover {
		color: $accent-bg !important;
	}
}


.mfp-with-zoom.mfp-removing .mfp-container {
	transform: scale(0) !important;
	opacity: 0 !important
}

.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0 !important
}

.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out
}

.mfp-container {
	transform: scale(0)
}

.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
	transform: scale(1)
}

.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: .8
}

.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0
}

.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background: #0b0b0b;
	opacity: .8
}

.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: 0 !important;
	-webkit-backface-visibility: hidden
}

.mfp-container {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 8px;
	box-sizing: border-box
}

.mfp-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle
}

.mfp-align-top .mfp-container:before {
	display: none
}

.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 1045
}

.mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content {
	width: 100%;
	cursor: auto
}

.mfp-ajax-cur {
	cursor: progress
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor: zoom-out
}

.mfp-zoom {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in
}

.mfp-auto-cursor .mfp-content {
	cursor: auto
}

.mfp-arrow, .mfp-close, .mfp-counter, .mfp-preloader {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none
}

.mfp-loading.mfp-figure {
	display: none
}

.mfp-hide {
	display: none !important
}

.mfp-preloader {
	color: #ccc;
	position: absolute;
	top: 50%;
	width: auto;
	text-align: center;
	margin-top: -.8em;
	left: 8px;
	right: 8px;
	z-index: 1044
}

.mfp-preloader a {
	color: #ccc
}

.mfp-preloader a:hover {
	color: #fff
}

.mfp-s-ready .mfp-preloader {
	display: none
}

.mfp-s-error .mfp-content {
	display: none
}

button.mfp-arrow, button.mfp-close {
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	-webkit-appearance: none;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	touch-action: manipulation
}

button::-moz-focus-inner {
	padding: 0;
	border: 0
}

.mfp-close {
	width: 44px;
	height: 44px;
	line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65;
	padding: 0 0 18px 10px;
	color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace
}

.mfp-close:focus, .mfp-close:hover {
	opacity: 1
}

.mfp-close:active {
	top: 1px
}

.mfp-close-btn-in .mfp-close {
	color: $accent;
}

.mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close {
	color: #fff;
	right: -6px;
	text-align: right;
	padding-right: 6px;
	width: 100%
}

.mfp-counter {
	position: absolute;
	top: 0;
	right: 0;
	color: #ccc;
	font-size: 12px;
	line-height: 18px;
	white-space: nowrap
}

.mfp-arrow {
	position: absolute;
	opacity: .65;
	margin: 0;
	top: 50%;
	margin-top: -55px;
	padding: 0;
	width: 90px;
	height: 110px;
	-webkit-tap-highlight-color: transparent
}

.mfp-arrow:active {
	margin-top: -54px
}

.mfp-arrow:focus, .mfp-arrow:hover {
	opacity: 1
}

.mfp-arrow:after, .mfp-arrow:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 35px;
	margin-left: 35px;
	border: medium inset transparent
}

.mfp-arrow:after {
	border-top-width: 13px;
	border-bottom-width: 13px;
	top: 8px
}

.mfp-arrow:before {
	border-top-width: 21px;
	border-bottom-width: 21px;
	opacity: .7
}

.mfp-arrow-left {
	left: 0
}

.mfp-arrow-left:after {
	border-right: 17px solid #fff;
	margin-left: 31px
}

.mfp-arrow-left:before {
	margin-left: 25px;
	border-right: 27px solid #3f3f3f
}

.mfp-arrow-right {
	right: 0
}

.mfp-arrow-right:after {
	border-left: 17px solid #fff;
	margin-left: 39px
}

.mfp-arrow-right:before {
	border-left: 27px solid #3f3f3f
}

.mfp-iframe-holder {
	padding-top: 40px;
	padding-bottom: 40px
}

.mfp-iframe-holder .mfp-content {
	line-height: 0;
	width: 100%;
	max-width: 900px
}

.mfp-iframe-holder .mfp-close {
	top: -40px
}

.mfp-iframe-scaler {
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-top: 56.25%
}

.mfp-iframe-scaler iframe {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, .6);
	background: #000
}

img.mfp-img {
	width: auto;
	max-width: 100%;
	height: auto;
	display: block;
	line-height: 0;
	box-sizing: border-box;
	//padding: 40px 0 40px;
	padding: 0;
	margin: 0 auto
}

.mfp-figure {
	line-height: 0
}

.mfp-figure:after {
	content: '';
	position: absolute;
	left: 0;
	top: 40px;
	bottom: 40px;
	display: block;
	right: 0;
	width: auto;
	height: auto;
	z-index: -1;
	box-shadow: 0 0 8px rgba(0, 0, 0, .6);
	background: #444
}

.mfp-figure small {
	color: #bdbdbd;
	display: block;
	font-size: 12px;
	line-height: 14px
}

.mfp-figure figure {
	margin: 0
}

.mfp-bottom-bar {
	margin-top: -36px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	cursor: auto
}

.mfp-title {
	text-align: left;
	line-height: 18px;
	color: #f3f3f3;
	word-wrap: break-word;
	padding-right: 36px
}

.mfp-image-holder .mfp-content {
	max-width: 100%
}

.mfp-gallery .mfp-image-holder .mfp-figure {
	cursor: pointer
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
	.mfp-img-mobile .mfp-image-holder {
		padding-left: 0;
		padding-right: 0
	}

	.mfp-img-mobile img.mfp-img {
		padding: 0
	}

	.mfp-img-mobile .mfp-figure:after {
		top: 0;
		bottom: 0
	}

	.mfp-img-mobile .mfp-figure small {
		display: inline;
		margin-left: 5px
	}

	.mfp-img-mobile .mfp-bottom-bar {
		background: rgba(0, 0, 0, .6);
		bottom: 0;
		margin: 0;
		top: auto;
		padding: 3px 5px;
		position: fixed;
		box-sizing: border-box
	}

	.mfp-img-mobile .mfp-bottom-bar:empty {
		padding: 0
	}

	.mfp-img-mobile .mfp-counter {
		right: 5px;
		top: 3px
	}

	.mfp-img-mobile .mfp-close {
		top: 0;
		right: 0;
		width: 35px;
		height: 35px;
		line-height: 35px;
		background: rgba(0, 0, 0, .6);
		position: fixed;
		text-align: center;
		padding: 0
	}
}

@media all and (max-width: 900px) {
	.mfp-arrow {
		-webkit-transform: scale(.75);
		transform: scale(.75)
	}

	.mfp-arrow-left {
		-webkit-transform-origin: 0;
		transform-origin: 0
	}

	.mfp-arrow-right {
		-webkit-transform-origin: 100%;
		transform-origin: 100%
	}

	.mfp-container {
		padding-left: 6px;
		padding-right: 6px
	}
}

.hidden-slider {
	overflow-x: hidden;
}


//Кнопки в шапке
.btn-custom-outline {
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none !important;
	outline: 0 !important;
	box-shadow: none;
	display: inline-block;
	margin-left: 45px;
	&:first-child {
		margin-left: 103px;
	}
}

.btn-custom-outline span {
	//padding-bottom: 3px;
	border: 0;
	margin-left: 28px;
	position: relative;
	display: inline-block;
	padding-right: 2px;
	vertical-align: middle;
	text-align: left;
	line-height: 1.2;
	text-decoration: underline;
	text-shadow: #333 1px 1px 0, #333 -1px -1px 0, #333 -1px 1px 0, #333 1px -1px 0;
	font-weight: bold;
}

.btn-group-header a:first-child {
	margin-right: 67px
}

.btn-custom-outline .fa:before {
	background: #ec3a48;
	width: 25px;
	text-align: center;
	height: 25px;
	line-height: 25px;
	border-radius: 50%;
	font-size: 14px;
	color: #000;
	box-sizing: content-box;
	border: 0;
	display: block;
	transition: all .3s linear
}

.btn-group-header .btn-custom-outline {
	margin-bottom: 19px
}

.btn-custom-outline:focus, .btn-custom-outline:hover {
	color: #fff;
	outline: 0 !important
}

.btn-custom-outline:focus .fa, .btn-custom-outline:hover .ico {
	//background: #ec3a48
}


.btn-custom-outline {

	&:hover {

		span {
			text-decoration: none;
		}
	}
	.ico {
		//border: 10px solid transparent;
		box-shadow: 0 0 1px 1px #fff;
		border-radius: 50%;
		position: relative;
		transition: all .3s linear;
		background-color: #fff;
		border: none;
		background-position: center;
		background-size: 55%;

		&:after {
			content: '';
			width: 50px;
			height: 50px;
			position: absolute;
			left: 0px;
			top: 0px;
			border: 0;
			box-shadow: 0 0 1px 1px #fff;
			border-radius: 50%;
			transform: scale(1.3);
			transition: all .3s linear;
			opacity: 1;
		}

		&:before {
			content: '';
			width: 50px;
			height: 50px;
			position: absolute;
			left: 0px;
			top: 0px;
			border: 0;
			box-shadow: 0 0 1px 1px #fff;
			border-radius: 50%;
			transform: scale(1.7);
			transition: all .3s linear;
			opacity: 1;
		}
	}
}

.btn-custom-outline:focus .ico:after, .btn-custom-outline:hover .ico:after {
	opacity: 1;
	transform: scale(1.5);
}

.btn-custom-outline:focus .ico:before, .btn-custom-outline:hover .ico:before {
	transform: scale(1.1)
}

/*.btn-custom-outline span:after {
	content: '';
	width: 100%;
	height: 1px;
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url(../images/dotted.png);
	background-size: contain;
	background-repeat: repeat-x;
	background-position: left
}*/

.custom-icon {
	height: 50px;
	width: 50px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
	&.icon-glass {
		background-image: url(../images/glasses.png);
	}
	&.icon-plate {
		background-image: url(../images/plate.png);
	}
}


.content__block {
	background: #f0f0f0;
	padding: 50px 15px;
}

.section_content {
	padding: 150px 0 50px 0;
}


.shake {
	animation: shake .9s linear both
}

.has-danger .contact-form__icon {
	color: $accent !important
}

.has-danger input {
	color: $accent !important;
	border-color: $accent;
}

.has-danger input::-webkit-input-placeholder {
	color: $accent;
}

.has-danger input::-moz-placeholder {
	color: $accent;
}

.has-danger input:-moz-placeholder {
	color: $accent;
}

.has-danger input:-ms-input-placeholder {
	color: $accent;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-2px, 0, 0)
	}
	20%, 80% {
		transform: translate3d(3px, 0, 0)
	}
	30%, 50%, 70% {
		transform: translate3d(-5px, 0, 0)
	}
	40%, 60% {
		transform: translate3d(5px, 0, 0)
	}
}

@import "media";


 // Always at the end
