/*$font-light: "Gotham Pro Light", sans-serif;
$font-medium: "Gotham Pro Medium", sans-serif;
$font-bold: "Gotham Pro Bold", sans-serif;
$font-black: "Gotham Pro Black", sans-serif;*/
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro.eot?") format("eot"), url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro.svg#GothamPro") format("svg");
}

@font-face {
  font-family: "GothamPro";
  font-weight: 100;
  src: url("../fonts/GothamPro-Light.eot?") format("eot"), url("../fonts/GothamPro-Light.woff2") format("woff2"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype"), url("../fonts/GothamPro-Light.svg#GothamPro") format("svg");
}

@font-face {
  font-family: "GothamPro";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/GothamPro-LightItalic.eot?") format("eot"), url("../fonts/GothamPro-LightItalic.woff2") format("woff2"), url("../fonts/GothamPro-LightItalic.woff") format("woff"), url("../fonts/GothamPro-LightItalic.ttf") format("truetype"), url("../fonts/GothamPro-LightItalic.svg#GothamPro") format("svg");
}

@font-face {
  font-family: "GothamPro";
  font-weight: 600;
  src: url("../fonts/GothamPro-Medium.eot?") format("eot"), url("../fonts/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype"), url("../fonts/GothamPro-Medium.svg#GothamPro") format("svg");
}

@font-face {
  font-family: "GothamPro";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/GothamPro-MediumItalic.eot?") format("eot"), url("../fonts/GothamPro-MediumItalic.woff2") format("woff2"), url("../fonts/GothamPro-MediumItalic.woff") format("woff"), url("../fonts/GothamPro-MediumItalic.ttf") format("truetype"), url("../fonts/GothamPro-MediumItalic.svg#GothamPro") format("svg");
}

@font-face {
  font-family: "GothamPro";
  font-weight: bold;
  src: url("../fonts/GothamPro-Bold.eot?") format("eot"), url("../fonts/GothamPro-Bold.woff2") format("woff2"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype"), url("../fonts/GothamPro-Bold.svg#GothamPro") format("svg");
}

@font-face {
  font-family: "GothamPro";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/GothamPro-BoldItalic.eot?") format("eot"), url("../fonts/GothamPro-BoldItalic.woff2") format("woff2"), url("../fonts/GothamPro-BoldItalic.woff") format("woff"), url("../fonts/GothamPro-BoldItalic.ttf") format("truetype"), url("../fonts/GothamPro-BoldItalic.svg#GothamPro") format("svg");
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

::-webkit-input-placeholder {
  color: #666;
}

::-moz-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

a:active, a:focus {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "GothamPro", sans-serif;
  overflow-x: hidden;
  color: #333;
}

body input, body textarea {
  border: #666 1px solid;
  outline: none;
}

body input:focus:required:invalid, body textarea:focus:required:invalid {
  border-color: red;
}

body input:required:valid, body textarea:required:valid {
  border-color: green;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-responsive.img-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

b, strong {
  font-weight: bold;
}

.menu_button:hover, .menu_button:focus, .menu_button:visited {
  color: #fff;
}

.btn-menu-red {
  font-size: 15px;
  outline: 0 !important;
  text-decoration: none !important;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}

.btn-menu-red:hover i {
  -webkit-box-shadow: 0 3px 11px 1px rgba(255, 0, 0, 0.48);
          box-shadow: 0 3px 11px 1px rgba(255, 0, 0, 0.48);
}

.btn-menu-red i {
  width: 50px;
  height: 50px;
  background: #ec3a48;
  text-align: center;
  line-height: 52px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  margin-right: 7px;
  font-size: 19px;
  outline: 0 !important;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  color: #fff;
}

header.header {
  z-index: 2;
}

.header {
  padding-top: 28px;
  padding-bottom: 28px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  position: fixed;
  height: auto;
  width: 100%;
  color: #fff;
  left: 0;
  top: 0;
}

.header.is-inside {
  background: rgba(20, 48, 71, 0.86);
}

.header.scrolled {
  background: rgba(20, 48, 71, 0.86);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  padding-top: 7px;
  padding-bottom: 7px;
}

.header__btn-container {
  margin-top: 45px;
}

.phone-text {
  font-weight: lighter;
  color: #fff;
  text-decoration: none;
  margin-right: 65px;
}

.phone-text:hover {
  text-decoration: underline;
  color: #fff;
}

.phone-text:active, .phone-text:focus {
  text-decoration: none;
  color: #fff;
}

.btn-white-outline {
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 23px;
  padding-right: 39px;
  background: 0 0;
  color: #000;
  font-size: 14px;
  -webkit-border-radius: 35px;
          border-radius: 35px;
  cursor: pointer;
  outline: 0;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  position: relative;
  display: inline-block;
  border: 1px solid #fff;
  outline: 0 !important;
  background-color: #fff;
  text-decoration: none !important;
  /*	&:hover {
		background-color: rgba(#fff, .95);
	}*/
}

.btn-white-outline:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 1px 22px 3px #fff;
          box-shadow: 0 1px 22px 3px #fff;
  outline: 0 !important;
}

.btn-white-outline:focus, .btn-white-outline:active {
  text-decoration: none !important;
  color: #000;
}

.btn-white-outline .ico {
  right: 35px;
  color: #000;
  width: 25px;
  height: 25px;
  margin-top: -12px;
  line-height: 25px;
  font-size: 13px;
}

.btn-white-outline.__wth_ico {
  padding-left: 47px;
  padding-right: 65px !important;
}

.btn-white-outline.__wth_ico .ico {
  position: absolute;
  top: 50%;
}

.btn-white-outline.is-red {
  background-color: #ec3a48;
  color: #fff;
  border: none;
}

.btn-white-outline.is-red:hover {
  text-decoration: none;
  color: #fff;
  background: #dd2a39;
  -webkit-box-shadow: 0 1px 22px 3px #ec3a48;
          box-shadow: 0 1px 22px 3px #ec3a48;
  outline: 0 !important;
}

.btn-white-outline.is-red:focus, .btn-white-outline.is-red:active {
  text-decoration: none;
  color: #fff;
}

.btn-white-outline.is-red.__wth_ico .ico {
  position: absolute;
  top: 50%;
  right: 20px;
}

.btn-white-outline.is-red .ico {
  color: #fff;
}

.logo__title {
  font-size: 24px;
  font-weight: lighter;
  line-height: 1.3;
}

.logo__subtitle {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.3;
}

.btn-red {
  padding-top: 21px;
  padding-bottom: 19px;
  padding-left: 39px;
  padding-right: 39px;
  background: #ec3a48;
  color: #fff;
  font-size: 16px;
  -webkit-border-radius: 35px;
          border-radius: 35px;
  cursor: pointer;
  outline: 0;
  -webkit-box-shadow: 0 5px 25px 0 #ec3a48;
          box-shadow: 0 5px 25px 0 #ec3a48;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  position: relative;
  display: inline-block;
  border: 0;
  outline: 0 !important;
  font-weight: lighter;
}

.btn-red:hover {
  text-decoration: none;
  color: #fff;
  background: #dd2a39;
  -webkit-box-shadow: 0 1px 26px 6px #ec3a48;
          box-shadow: 0 1px 26px 6px #ec3a48;
  outline: 0 !important;
}

.btn-red:focus, .btn-red:active {
  text-decoration: none;
  color: #fff;
}

.btn-red:after {
  content: '';
  -webkit-border-radius: 35px;
          border-radius: 35px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
  z-index: 2;
  display: block;
  -webkit-box-shadow: inset 0 0 21px 7px #f03f4d;
          box-shadow: inset 0 0 21px 7px #f03f4d;
}

.btn-red.__wth_ico {
  padding-left: 75px;
  padding-right: 61px;
}

.btn-red.m-wind {
  padding-left: 60px;
  padding-right: 41px;
}

.btn-red.m-wind .ico {
  margin-left: 10px;
  vertical-align: middle;
}

.btn-red:focus:after, .btn-red:hover:after {
  opacity: 1;
}

.ico.custom {
  margin-left: 15px;
}

.ico.custom:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 28px;
  width: 28px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.ico.custom.coin-icon:before {
  background-image: url(../images/icons_sprite.png);
  -webkit-background-size: 96px 96px;
          background-size: 96px;
  background-position: -2px 0px;
}

.ico.custom.glass-icon:before {
  background-image: url(../images/icons_sprite.png);
  -webkit-background-size: 96px 96px;
          background-size: 96px;
  background-position: -66px -3px;
  margin-left: 5px;
  margin-top: 1px;
}

.ico.custom.plate-icon:before {
  background-image: url(../images/icons_sprite.png);
  -webkit-background-size: 96px 96px;
          background-size: 96px;
  background-position: -34px -4px;
}

/*.glass-icon {
	margin-left: 15px;
	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 28px;
		width: 28px;
		background-image: url(../images/glasses.png);
		background-repeat: no-repeat;
		-webkit-background-size: contain;
		background-size: contain;
	}
}*/
.offers {
  margin-top: 65px;
}

.offers-link {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  margin-right: 20px;
}

.offers-link:last-child {
  margin-right: 0;
}

.offers-link:focus, .offers-link:active {
  color: #fff;
  text-decoration: none;
}

.offers-link:hover {
  color: #fff;
  text-decoration: none !important;
}

.offers-link:hover .offers-link__text {
  text-decoration: none;
}

.offers-link:hover .offers-link__img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.offers-link__text {
  text-decoration: underline;
  display: inline-block;
  vertical-align: middle;
}

.offers-link__img {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: -webkit-transform .8s ease-in-out;
  -o-transition: transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
}

.offers .btn-white-outline:first-child {
  margin-right: 40px;
}

.offers .btn-white-outline:last-child {
  margin-left: 40px;
}

.link_center {
  width: 61px;
  height: 61px;
  display: block;
  margin: 0 auto;
  background: #ec3a48;
  color: #fff;
  line-height: 66px;
  text-align: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 27px;
  -webkit-box-shadow: 0 5px 25px 0 rgba(236, 58, 72, 0.34);
          box-shadow: 0 5px 25px 0 rgba(236, 58, 72, 0.34);
  position: relative;
  top: -131px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.link_center:focus, .link_center:hover {
  text-decoration: none;
  color: #fff;
  background: #dd2a39;
  -webkit-box-shadow: 0 5px 25px 7px rgba(236, 58, 72, 0.19);
          box-shadow: 0 5px 25px 7px rgba(236, 58, 72, 0.19);
  outline: 0 !important;
}

.link_center.is-white {
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.link_center.is-white:focus, .link_center.is-white:hover {
  text-decoration: none;
  color: #fff;
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0 !important;
}

.link_center.is-bottom {
  top: 0;
}

.link_center-wrapper {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

.charter {
  width: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.charter__bg {
  background-image: url(../images/room.jpg);
  -webkit-background-size: cover;
  opacity: .5;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.charter__link {
  display: block;
  margin-bottom: 20px;
  color: #fff;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.charter__link:hover {
  text-decoration: none;
  color: #fff;
}

.charter__link:hover .charter__bg {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.charter__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 280px;
  position: relative;
}

.charter__text {
  display: block;
}

.h3 {
  color: #000;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.3;
  text-transform: uppercase;
}

.h3.is-white {
  color: #fff;
}

.stars .fa {
  font-size: 12px;
  color: #ec3a48;
}

.otdel_tabs {
  padding: 0;
  margin-top: 38px;
  margin-bottom: 100px;
  position: relative;
  z-index: 1;
  -webkit-border-radius: 31px;
          border-radius: 31px;
  border: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.otdel_tabs a:first-child {
  -webkit-border-bottom-left-radius: 31px;
          border-bottom-left-radius: 31px;
  -webkit-border-top-left-radius: 31px;
          border-top-left-radius: 31px;
}

.otdel_tabs a:last-child {
  -webkit-border-bottom-right-radius: 31px;
          border-bottom-right-radius: 31px;
  -webkit-border-top-right-radius: 31px;
          border-top-right-radius: 31px;
}

.otdel_tabs-pane {
  opacity: 0;
}

.otdel_tabs-pane.active {
  opacity: 1;
}

.otdel_tabs-slide {
  height: 475px;
  position: relative;
  background-color: #000;
  -webkit-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.otdel_tabs-slide.slick-active {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 12;
  display: block;
}

.otdel_tabs-slide.slick-active .otdel_tabs-slide-img {
  opacity: 1;
}

.otdel_tabs-slide.slick-active .otdel_tab-fullbtn {
  display: inline-block;
}

.otdel_tabs-slide-img {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-background-size: cover;
          background-size: cover;
  pointer-events: auto;
  outline: 0;
  cursor: pointer;
  opacity: .5;
  position: absolute;
  top: 0;
}

.otdel_tabs-slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -45px;
  background: #fff;
  border: 0;
  outline: 0 !important;
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 29px;
  text-align: center;
  z-index: 9;
  cursor: pointer !important;
  line-height: 39px;
  color: #000;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  padding: 0;
}

.otdel_tabs-slider .slick-custom-prev {
  left: -77px;
}

.otdel_tabs-slider .slick-custom-next {
  right: -77px;
}

.otdel_tabs-slider .slick-list {
  overflow: inherit;
}

.otdel_tabs-slider-dots {
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.otdel_tabs-slider-dots li {
  display: inline-block;
  margin: 0 10px;
  height: 15px;
  width: 15px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

.otdel_tabs-slider-dots li.slick-active {
  border-color: #ec3a48;
  background-color: #ec3a48;
}

.otdel_tabs-slider-dots button {
  color: transparent !important;
  opacity: 0;
  height: 100%;
  width: 100%;
  font-size: 1px;
}

@-webkit-keyframes loop_anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes loop_anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.otdel_tab {
  padding: 14px 65px;
  display: inline-block;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  font-size: 15px;
  color: #000;
  outline: 0 !important;
  text-decoration: none !important;
  background: #f0f0f0;
  float: left;
  position: relative;
  margin-right: 3px;
}

.otdel_tab-fullbtn {
  position: relative;
  z-index: 100;
  opacity: 1;
  pointer-events: none;
  -webkit-animation-name: loop_anim;
  animation-name: loop_anim;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.otdel_tab:hover, .otdel_tab:focus {
  color: #333;
}

.otdel_tab:last-child {
  margin-right: 0;
}

.otdel_tab:before {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  content: '';
  width: 15px;
  height: 15px;
  background: #fff;
  display: block;
  position: absolute;
  bottom: -7px;
  left: 50%;
  margin-left: -7px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  visibility: hidden;
}

.otdel_tab.active {
  background: #dd2a39;
  color: #fff;
}

.otdel_tab.active:before {
  visibility: visible;
  background: #dd2a39;
}

.small-description {
  font-size: 14px;
  font-weight: lighter;
  color: #000;
}

.contact-form__box {
  margin-top: 40px;
}

.contact-form__label {
  width: 100%;
  position: relative;
}

.contact-form__label.error .contact-form__input {
  border-color: #ce3a45;
  color: #ce3a45;
}

.contact-form__label.error .contact-form__icon {
  color: #ce3a45;
}

.contact-form__input {
  width: 100%;
  padding: 21px 27px;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  font-size: 14px;
  font-weight: lighter;
  color: #949494;
  -webkit-transition: -webkit-box-shadow .25s ease;
  transition: -webkit-box-shadow .25s ease;
  -o-transition: box-shadow .25s ease;
  transition: box-shadow .25s ease;
  transition: box-shadow .25s ease, -webkit-box-shadow .25s ease;
}

.contact-form__input:hover, .contact-form__input:focus {
  -webkit-box-shadow: 1px 4px 11px -3px rgba(0, 0, 0, 0.27);
          box-shadow: 1px 4px 11px -3px rgba(0, 0, 0, 0.27);
}

.contact-form__icon {
  position: absolute;
  top: 35%;
  right: 25px;
  color: #949494;
}

.contact-form__row {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form__btn-container {
  margin-top: 38px;
}

.contact-form__btn.__wth_ico {
  padding-left: 38px;
  padding-right: 30px;
}

.contact-form__btn.__wth_ico .fa {
  font-size: 20px;
  vertical-align: middle;
  margin-left: 10px;
}

.room-carts {
  margin-top: 40px;
}

.room-cart {
  height: 190px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.room-cart .fa {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  line-height: 30px;
  background-color: #ec3a48;
  text-align: center;
  margin-right: 10px;
}

.room-cart .fa.fa-angle-right:before {
  margin-left: 2px;
}

.room-cart .room-cart__wrap-link {
  padding: 15px 28px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-shadow: inset 0 -49px 23px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0 -49px 23px rgba(0, 0, 0, 0.35);
}

.room-cart.is-big {
  height: 255px;
}

.room-cart__link {
  /*display: flex;
		justify-content: space-between;
		flex-direction: column;
		height: 100%;*/
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  position: relative;
  overflow: hidden;
}

.room-cart__link:hover, .room-cart__link:focus, .room-cart__link:active {
  text-decoration: none;
  color: #fff;
}

.room-cart__link:hover .room-cart__bg {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.room-cart__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.section_first {
  background-image: url(../images/main_bg.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center right;
  height: 100vh;
  color: #fff;
  min-height: 713px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
  position: relative;
}

.section_second {
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center right;
  padding-top: 101px;
  padding-bottom: 62px;
}

.section_third {
  padding-bottom: 75px;
}

.section-contact {
  padding-top: 35px;
  padding-bottom: 90px;
}

.section-rooms {
  padding-top: 10px;
  padding-bottom: 62px;
  position: relative;
  background-color: #26292d;
}

.section-rooms .link_center {
  top: -42px;
}

.section-rooms__bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: .3;
}

.footer {
  padding: 35px 0;
  padding-bottom: 48px;
}

.footer__links {
  margin: 0;
  padding: 0;
}

.footer__link-wrap {
  display: inline-block;
  margin-left: 35px;
}

.footer__link-wrap:first-child {
  margin-left: 0;
}

.footer__link {
  font-size: 16px;
  color: #000;
  font-weight: lighter;
}

.footer__link:hover {
  text-decoration: underline;
  color: #000;
}

.footer__social {
  display: inline-block;
  vertical-align: middle;
}

.footer__social-icon {
  margin-left: 5px;
}

.footer__social-icon:first-child {
  margin-left: 0;
}

.footer__social-icon img {
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.footer__social-icon:hover, .footer__social-icon:focus {
  text-decoration: none;
}

.footer__social-icon:hover img, .footer__social-icon:focus img {
  -webkit-box-shadow: 1px 4px 11px -3px rgba(0, 0, 0, 0.57);
          box-shadow: 1px 4px 11px -3px rgba(0, 0, 0, 0.57);
  text-decoration: none;
}

.footer__rul-link {
  font-size: 12px;
  color: #949494;
  font-weight: lighter;
  margin-left: 10px;
}

.footer__rul-link:before {
  content: '|';
  margin-right: 10px;
}

.footer__rul-link:first-child {
  margin-left: 0;
}

.footer__rul-link:first-child:before {
  content: '';
  margin-right: 0;
}

.footer__rul-link:hover {
  color: #949494;
  text-decoration: underline;
}

.footer__rules {
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
}

.footer__copyright {
  font-size: 12px;
  color: #949494;
  font-weight: lighter;
  margin-top: 18px;
}

.footer__bottom.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top {
  margin-bottom: 40px;
}

.footer__phone {
  font-size: 20px;
  color: #949494;
  font-weight: lighter;
  text-align: center;
}

.footer__phone:hover {
  text-decoration: underline;
}

.footer__phone:focus, .footer__phone:active, .footer__phone:hover {
  color: #949494;
}

.mfp-small {
  max-width: 560px;
}

.modal-body_form {
  padding: 60px 130px;
}

.modal-body__button-wrap {
  margin-top: 20px;
  margin-bottom: 25px;
}

.modal-body__suggestions {
  text-align: center;
  font-size: 12px;
  color: #949494;
}

.modal-body__suggestions-link {
  color: #949494;
  text-decoration: underline;
}

.modal-body__suggestions-link:hover {
  text-decoration: none;
  color: #949494;
}

.white-popup {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.modal-custom {
  background: #fff;
  position: relative;
  overflow: hidden;
  -webkit-border-top-left-radius: 30px;
          border-top-left-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
          border-bottom-right-radius: 30px;
}

.body_form-title {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.body_form-subtitle {
  font-size: 14px;
  font-weight: lighter;
  color: #000;
  margin-bottom: 30px;
}

.body_form-subtitle.first {
  margin-top: 35px;
}

.body_form-subtitle.last {
  margin-bottom: 10px;
}

.body_form-phone {
  font-size: 16px;
  color: #ec3a48;
  font-weight: 600;
  -webkit-transition: color .25s ease;
  -o-transition: color .25s ease;
  transition: color .25s ease;
}

.body_form-phone:hover, .body_form-phone:focus, .body_form-phone:active {
  color: #dd2a39;
  text-decoration: none;
}

.close_box {
  position: relative;
}

.mfp-close.is-default {
  z-index: 123;
  color: #ec3a48;
  right: -50px;
  font-size: 80px;
  opacity: 1;
}

.mfp-image-holder .mfp-close {
  /*
	background: $accent;
	color: #fff!important;
	width: 95px!important;
	height: 95px;
	line-height: 95px;
	font-size: 42px;
	right: -95px!important;
	top: 0!important;
	text-align: center!important;
	margin: 0!important;
	padding: 0!important;
	cursor: pointer!important;
	*/
  color: #ec3a48 !important;
  font-size: 65px;
  right: 10px !important;
  top: 10px;
  text-align: center !important;
  cursor: pointer !important;
  width: auto !important;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

.mfp-image-holder .mfp-close:hover {
  color: #dd2a39 !important;
}

.mfp-with-zoom.mfp-removing .mfp-container {
  -webkit-transform: scale(0) !important;
      -ms-transform: scale(0) !important;
          transform: scale(0) !important;
  opacity: 0 !important;
}

.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0 !important;
}

.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.mfp-container {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: .8;
}

.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: .8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: 0 !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-arrow, .mfp-close, .mfp-counter, .mfp-preloader {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #ccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #ccc;
}

.mfp-preloader a:hover {
  color: #fff;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-arrow, button.mfp-close {
  overflow: visible;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: 0;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: .65;
  padding: 0 0 18px 10px;
  color: #fff;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:focus, .mfp-close:hover {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #ec3a48;
}

.mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close {
  color: #fff;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: .65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:focus, .mfp-arrow:hover {
  opacity: 1;
}

.mfp-arrow:after, .mfp-arrow:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: .7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #fff;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #fff;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3f3f3f;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
        transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
        transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.hidden-slider {
  overflow-x: hidden;
}

.btn-custom-outline {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none !important;
  outline: 0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: inline-block;
  margin-left: 45px;
}

.btn-custom-outline:first-child {
  margin-left: 103px;
}

.btn-custom-outline span {
  border: 0;
  margin-left: 28px;
  position: relative;
  display: inline-block;
  padding-right: 2px;
  vertical-align: middle;
  text-align: left;
  line-height: 1.2;
  text-decoration: underline;
  text-shadow: #333 1px 1px 0, #333 -1px -1px 0, #333 -1px 1px 0, #333 1px -1px 0;
  font-weight: bold;
}

.btn-group-header a:first-child {
  margin-right: 67px;
}

.btn-custom-outline .fa:before {
  background: #ec3a48;
  width: 25px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 14px;
  color: #000;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 0;
  display: block;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.btn-group-header .btn-custom-outline {
  margin-bottom: 19px;
}

.btn-custom-outline:focus, .btn-custom-outline:hover {
  color: #fff;
  outline: 0 !important;
}

.btn-custom-outline:hover span {
  text-decoration: none;
}

.btn-custom-outline .ico {
  -webkit-box-shadow: 0 0 1px 1px #fff;
          box-shadow: 0 0 1px 1px #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  background-color: #fff;
  border: none;
  background-position: center;
  -webkit-background-size: 55% 55%;
          background-size: 55%;
}

.btn-custom-outline .ico:after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  border: 0;
  -webkit-box-shadow: 0 0 1px 1px #fff;
          box-shadow: 0 0 1px 1px #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  opacity: 1;
}

.btn-custom-outline .ico:before {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  border: 0;
  -webkit-box-shadow: 0 0 1px 1px #fff;
          box-shadow: 0 0 1px 1px #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transform: scale(1.7);
      -ms-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  opacity: 1;
}

.btn-custom-outline:focus .ico:after, .btn-custom-outline:hover .ico:after {
  opacity: 1;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.btn-custom-outline:focus .ico:before, .btn-custom-outline:hover .ico:before {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

/*.btn-custom-outline span:after {
	content: '';
	width: 100%;
	height: 1px;
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url(../images/dotted.png);
	background-size: contain;
	background-repeat: repeat-x;
	background-position: left
}*/
.custom-icon {
  height: 50px;
  width: 50px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.custom-icon.icon-glass {
  background-image: url(../images/glasses.png);
}

.custom-icon.icon-plate {
  background-image: url(../images/plate.png);
}

.content__block {
  background: #f0f0f0;
  padding: 50px 15px;
}

.section_content {
  padding: 150px 0 50px 0;
}

.shake {
  -webkit-animation: shake .9s linear both;
          animation: shake .9s linear both;
}

.has-danger .contact-form__icon {
  color: #ec3a48 !important;
}

.has-danger input {
  color: #ec3a48 !important;
  border-color: #ec3a48;
}

.has-danger input::-webkit-input-placeholder {
  color: #ec3a48;
}

.has-danger input::-moz-placeholder {
  color: #ec3a48;
}

.has-danger input:-moz-placeholder {
  color: #ec3a48;
}

.has-danger input:-ms-input-placeholder {
  color: #ec3a48;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-2px, 0, 0);
            transform: translate3d(-2px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-2px, 0, 0);
            transform: translate3d(-2px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
}

/*$font-light: "Gotham Pro Light", sans-serif;
$font-medium: "Gotham Pro Medium", sans-serif;
$font-bold: "Gotham Pro Bold", sans-serif;
$font-black: "Gotham Pro Black", sans-serif;*/
/*==========  Desktop First  ==========*/
@media (max-width: 1199px) {
  .footer__link-wrap {
    margin-left: 0;
    width: 100%;
  }
  .footer__social {
    width: 100%;
  }
  .footer__rules {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
  }
  .footer__bottom.is-flex {
    display: block;
  }
  .footer__bottom.is-buttons {
    text-align: right;
  }
  .footer__phone {
    text-align: right;
  }
  .otdel_tabs-slider .slick-list {
    overflow: hidden;
  }
  .otdel_tabs-slide.slick-active {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  .otdel_tabs-slider-dots {
    top: -50px;
  }
  .otdel_tabs-slider .slick-custom-next, .otdel_tabs-slider .slick-custom-prev {
    display: none;
  }
}

@media (max-width: 991px) {
  .otdel_tab {
    padding: 14px 30px;
  }
  .footer__phone {
    text-align: left;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .link_center.is-bottom {
    top: inherit;
    margin-top: 50px;
  }
  .h3 {
    font-size: 25px;
  }
  .room-cart {
    height: 255px;
  }
  .offers-link {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
  .offers-link__text {
    width: 100%;
  }
  .offers .btn-white-outline {
    padding-left: 75px;
    padding-right: 75px !important;
  }
  .offers .btn-white-outline:first-child {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .offers .btn-white-outline:last-child {
    margin-left: 0;
  }
  .otdel_tab {
    padding: 14px 30px;
    font-size: 14px;
    display: block;
    width: 100%;
    float: none;
  }
  .otdel_tab:before {
    display: none;
  }
  .otdel_tabs {
    display: block;
    overflow: hidden;
    text-align: center;
  }
  .otdel_tabs a:first-child {
    -webkit-border-bottom-left-radius: 0;
            border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
            border-top-left-radius: 0;
  }
  .otdel_tabs a:last-child {
    -webkit-border-bottom-right-radius: 0;
            border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
            border-top-right-radius: 0;
  }
  .footer__rul-link {
    margin-left: 0;
    margin-top: 5px;
    display: block;
  }
  .footer__rul-link:first-child {
    margin-top: 0;
  }
  .footer__rul-link:first-child:before {
    content: '|';
    margin-right: 10px;
  }
  .mfp-image-holder .mfp-close {
    font-size: 50px;
  }
  .mfp-close.is-default {
    top: 10px;
    right: 10px;
    font-size: 40px;
  }
  .section_first {
    padding: 0px 0 50px 0;
  }
  .offers-link {
    display: inline-block;
    width: 40%;
    vertical-align: top;
  }
  .link_center.is-bottom {
    top: inherit;
    margin-top: 50px;
  }
  .logostar {
    width: 50px;
  }
  .logo__title {
    font-size: 18px;
  }
  .logo__subtitle {
    font-size: 25px;
  }
  .btn-red.is-mobile {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .section_third {
    padding-bottom: 5px;
  }
  .section-contact {
    padding-top: 10px;
  }
}

@media (max-width: 575px) {
  .contact-form__btn {
    font-size: 13px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-align: center !important;
  }
  .contact-form__btn .fa {
    display: none;
  }
  .modal-body_form {
    padding: 60px 20px;
  }
  .body_form-title {
    font-size: 25px;
  }
  .btn-red.m-wind .ico {
    display: none;
  }
  .btn-red.m-wind {
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn-custom-outline {
    display: block;
    width: 100%;
    margin: 0;
  }
  .btn-custom-outline:first-child {
    margin: 0;
  }
  .btn-custom-outline .ico {
    display: block;
    border: none;
    margin: 0 auto;
    margin-bottom: 25px;
    height: 35px;
    width: 35px;
  }
  .btn-custom-outline .ico.custom-icon {
    -webkit-background-size: 66% 66%;
            background-size: 66%;
  }
  .btn-custom-outline .ico:before, .btn-custom-outline .ico:after {
    height: 35px;
    width: 35px;
  }
  .btn-custom-outline span {
    display: block;
    margin: 0;
    text-align: center;
    font-size: 13px;
  }
}

@media all and (max-width: 320px) {
  .header__btn-container {
    margin-top: 20px;
  }
  .logo__subtitle {
    font-size: 20px;
  }
  .logo__title {
    font-size: 15px;
  }
  .logostar {
    width: 40px;
  }
}

/*==========  Mobile First  ==========*/
